In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Datasets\SalesDataset.csv')
df.sample(5)

     Age  Salary  Status
138   31   76000       0
171   31   66000       0
363   42   53000       0
180   28   89000       0
296   42   70000       0

In [3]:
df['Status'].unique()

array([0, 1], dtype=int64)

In [4]:
df['Status'].value_counts()

0    257
1    143
Name: Status, dtype: int64

In [5]:
# select input and output
x=df.drop('Status',axis=1)
y=df['Status']

In [6]:
# split data into train and test
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.25,random_state=0)

In [7]:
# scale the data
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
xtrain=sc.fit_transform(xtrain)
xtest=sc.transform(xtest)

In [11]:
# select model
from sklearn.svm import SVC
model=SVC()
model.fit(xtrain,ytrain)

SVC()

In [15]:
from sklearn.metrics import confusion_matrix,accuracy_score
ypred=model.predict(xtest)
#ypred
print("confusion matrix:")
print(confusion_matrix(ytest,ypred))

print("score is:",accuracy_score(ytest,ypred))

confusion matrix:
[[57  4]
 [ 4 35]]
score is: 0.92

In [17]:
age=int(input("Enter your age:"))
sal=int(input("Enter your salary: "))
newvalue=[[age,sal]]
res=model.predict(sc.transform(newvalue))
print(res)
if res==1:
    print("customer will buy the product")
else:
    print("customer not able to buy the product")

Enter your age:54
Enter your salary: 45000
[1]
customer will buy the product

In [18]:
# print actual and predict
d2=pd.DataFrame({'act':ytest,'predict':ypred})
d2

     act  predict
132    1        0
309    1        1
341    1        1
196    1        1
246    0        0
..   ...      ...
146    1        1
135    0        0
390    0        0
264    1        1
364    1        0

[100 rows x 2 columns]

In [19]:
from sklearn.svm import SVC
l=SVC(C=1.0,kernel='rbf')
l

SVC()